header,body{
    margin:0;
    padding: 0;
    background-color: gainsboro;
}

#bar{
    background-color: cadetblue;
    color: gainsboro;
    position: absolute;
    width: 100%;
    text-indent: 15px;
}

.menu{
    background-color: cadetblue;
    list-style: none;
    padding: 0px;
    margin-top: 50px;
    right: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    position: absolute;
    width: 25%;
    visibility: hidden;
    z-index: 1;
}

li{
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-indent: 10px;
    cursor: pointer;
}

li:hover{
    background: rgba(0, 0, 0, 0.1);
}

a{
    
    color: gainsboro;
    text-decoration: none;
    font-size: 20px;
}

.menubt{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 2%;
    cursor: pointer;
}

.icon{
    margin-left: 15%;
    position: relative;
    display: block;
    background-color: gainsboro;
    width: 70%;
    height: 3px;
    border-radius: 30px;
    margin-top: 22px;
}

.icon::before,
.icon::after{
    content: '';
    display: block;
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    position: absolute;
}

.icon::before{
    top: 10px;
}

.icon::after{
    bottom: 10px;
}


.menubt:hover{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.menubt:hover + .menu,
.menu:hover{
    visibility: visible;
}

#Perfil,#Temp,#Acel,#Cam,#editPerfil{
    position: absolute;
    margin-top: 80px;
    width: 90%;
    margin-left: 5%;
    background-color: whitesmoke;
}

#imgPerfil{
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

img{
    margin: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    margin-top: 30px;
    margin-left: 60px;
}

#editPerfil{
    background-color: gainsboro;
}

video{
    margin: 50px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

button{
    background-color:cadetblue;
    color: gainsboro;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 40px;
}

#bt{
    position: absolute;
    right: 0px;
}

#bt2{
    margin-left: 310px;
    margin-top: 30px;
    height: 35px;
}
#txt{
    position: absolute;
    top: 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    position: absolute;
    width: 350px;
}

#t1{
    margin-top: 100px;
    margin-left: 65px;
}


#t2{
    margin-top: 100px;
    margin-left: 635px;
}


#t3{
    margin-top: 500px;
    margin-left: 65px;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: gainsboro;
}

#editPerfil label{
    display: inline-block;
    width: 90px;
    text-align: right;
}

form div + div {
    margin-top: 1em;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}